<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width , initial-scale=1" />

<link class="shortcut icon" href="#">

</head>
<body>

<header th:fragment="header">
<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top"> 
  <div class="flex-row d-flex">
        <button type="button" class="navbar-toggler  mr-2 " data-bs-toggle="offcanvas" title="Toggle responsive left sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/savera_logo.jpg}" id="c_logo" ></a> -->
    </div>
 
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
		  
	
	<li class="nav-item ">

      <a class="nav-link active" th:href="@{/}" id="navbardrop" >Home
		</a>
	</li>
	
	<!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
      		Products
      </a>
      
      <div class="dropdown-menu">
        
			<a class="dropdown-item"  th:href="@{/addproduct}">Add Product</a> 
			<a class="dropdown-item"  th:href="@{/viewproducts}">View Product</a>
        
      </div>
    
      
    </li>
    
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
      		Invoices
      </a>
	  
       <div class="dropdown-menu">
        
			<a class="dropdown-item"  th:href="@{/addinvoice}">Add Invoice</a> 
			<a class="dropdown-item"  th:href="@{/viewinvoices}">View Invoices</a>
        
      </div>
      
     </li> 
    <!-- Dropdown -->
    <li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" th:href="@{#}" id="navbardrop" data-bs-toggle="dropdown"> Vendor </a>
		  
      <div class="dropdown-menu">
        
		<a class="dropdown-item"  th:href="@{/addvendor}">Add Vendor</a>
        <a class="dropdown-item"  th:href="@{/viewvendors}">View Vendor</a>
        
      </div>
    </li>
	
	
	<!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
        Party
      </a>
      <div class="dropdown-menu">
        
		<a class="dropdown-item"  th:href="@{/addparty}">Add Party</a>
        <a class="dropdown-item"  th:href="@{/viewparty}">View Party</a>
        
      </div>
    </li>
    
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
        Docket
      </a>
      <div class="dropdown-menu">
        
		<a class="dropdown-item"  th:href="@{/adddocket}">Add Docket</a>
        <a class="dropdown-item"  th:href="@{/viewdockets}">View Docket</a>
        
      </div>
    </li>
	
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
			Customer
      </a>
      <div class="dropdown-menu">
        
		<a class="dropdown-item"  th:href="@{/addcustomer}">Add Customer</a>
		<a class="dropdown-item"  th:href="@{/viewcustomers}">View Customer</a>
        
      </div>
    </li> 
		 
	</ul>
  </div>  
</nav> 

</header>

</body>
</html>